<?xml version="1.0"?>
<launch>
	<include file="$(find kinect2_bridge)/launch/kinect2_bridge.launch">
		<arg name="publish_tf" value="true"/>
		<arg name="calib_path" value="$(find tams_ur5_setup_bringup)/config/kinect2_calib/" />
	</include>

	<include file="$(find tams_ur5_setup_bringup)/launch/apriltags2.launch"/>

	<node pkg="camera_positioner" type="camera_positioner" name="camera_positioner">
		<param name="camera_rgb_optical_frame" value="kinect2_rgb_optical_frame"/>
		<param name="camera_link" value="kinect2_link"/>
	</node>
</launch>
