<?xml version="1.0"?>
<launch>
	<include file="$(find freenect_launch)/launch/freenect.launch">
		<arg name="depth_registration" value="true" />
	</include>

	<include file="$(find tams_ur5_setup_bringup)/launch/apriltags2.launch"/>

	<include file="$(find camera_positioner)/launch/camera_positioner.launch">
		<rosparam param="bundle_tags">[128, 154, 162, 164]</rosparam>
	</include>
</launch>
