<?xml version="1.0"?>
<launch>
	<arg name="kinect2_number" default="no_5"/>
	<arg name="output" default="log"/>
	<include file="$(find kinect2_bridge)/launch/kinect2_bridge.launch">
		<arg name="publish_tf" value="true"/>
		<arg name="output" value="$(arg output)"/>
		<arg name="calib_path" value="$(find tams_camera_config)/kinect2/$(arg kinect2_number)/" />
	</include>

	<include file="$(find tams_ur5_setup_bringup)/launch/apriltag.launch"/>

	<node pkg="camera_positioner" type="camera_positioner" name="camera_positioner">
		<rosparam param="bundle_tags">[128, 154, 162, 164]</rosparam>
		<param name="camera_rgb_optical_frame" value="kinect2_rgb_optical_frame"/>
		<param name="camera_link" value="kinect2_link"/>
	</node>
</launch>
