<?xml version="1.0"?>
<launch>
	<include file="$(find kinect2_bridge)/launch/kinect2_bridge.launch">
		<arg name="publish_tf" value="true"/>
		<arg name="calib_path" value="$(find tams_ur5_setup_bringup)/config/kinect2_calib/" />
	</include>

	<include file="$(find tams_ur5_setup_bringup)/launch/apriltag.launch"/>

	<node pkg="camera_positioner" type="camera_positioner_table" name="camera_positioner_table">
		<rosparam param="bundle_tags">[128, 154, 162, 164]</rosparam>
		<param name="camera_rgb_optical_frame" value="kinect2_rgb_optical_frame"/>
		<param name="camera_link" value="kinect2_link"/>
		<param name="table_tag_id" value="42"/>
		<param name="wall_tag_id" value="0"/>
		<param name="update_table_tag" value="false"/>
		<param name="tabletag_stable_threshold" value="100"/>
	</node>
</launch>
