<?xml version="1.0"?>
<launch>
    <!-- This argument enables using a customized configuration of the ur5 joint ranges.
         Example configuration files can be found inside tams_ur5_description under config/joint_ranges/. -->
    <arg name="ur5_joint_ranges_config" default="$(find tams_ur5_description)/config/joint_ranges/default.yaml"/>
    <arg name="r200" default="false"/>
    <include file="$(find tams_ur5_setup_description)/launch/tams_ur5_setup_upload.launch">
        <arg name="joint_ranges_config" value="$(arg ur5_joint_ranges_config)"/>
    </include>

    <include file="$(find tams_ur5_setup_bringup)/launch/ur_control.launch">
        <arg name="headless_mode" value="true"/>
        <param name="tf_prefix" value="ur5_"/>
        <arg name="robot_ip" value="192.168.1.12"/>
        <arg name="controllers" default="pos_joint_traj_controller joint_state_controller"/>

        <arg name="controller_config_file" value="$(find tams_ur5_setup_description)/config/ur5_controllers.yaml"/>
        <arg name="kinematics_config" value="$(find tams_ur5_setup_description)/config/tams_ur5_calibration.yaml"/>
        <arg name="use_tool_communication" value="false"/>

        <!-- detail: https://github.com/TAMS-Group/Universal_Robots_ROS_Driver/commit/0833aa340f751909f759aa2e153e69da1a1494fa-->
        <!-- Specify gain for servoing to position in joint space.-->
        <!-- A higher gain can sharpen the trajectory.-->
        <arg name="servoj_gain" value="300"/>  <!-- smooth the trajectory, default 2000-->
        <!-- Specify lookahead time for servoing to position in joint space.-->
        <!-- A longer lookahead time can smooth the trajectory.-->
        <arg name="servoj_lookahead_time" value="0.075"/>  <!-- smooth the trajectory, default 0.03-->

    </include>

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="true"
          output="screen"/>

    <!-- add from tams robotiq gripper  -->
    <!-- Gripper -->
    <arg name="gripper_start_mode" default="basic"/>

    <!--  <node name="robotiqSModel" pkg="robotiq_s_model_control" type="SModelTcpNode.py" args="$(arg hand_ip)"/>-->
    <node name="robotiq3fGripper" pkg="robotiq_3f_gripper_control" type="Robotiq3FGripperRtuNode.py"
          args="/dev/rfcomm2"/>
    <node name="robotiq3fGripperStatePublisher" pkg="robotiq_3f_gripper_joint_state_publisher"
          type="robotiq_3f_gripper_joint_states">
        <param name="prefix" value="s_model_"/>
    </node>
    <!-- Gripper action server-->
    <include file="$(find robotiq_s_model_action_server)/launch/robotiq_s_model_action_server.launch">
        <arg name="gripper_start_mode" value="$(arg gripper_start_mode)"/>
    </include>

    <!-- Force Torque 150 -->
    <node name="forceTorque" pkg="robotiq_ft_sensor" type="rq_sensor">
        <param name="frame_id" value="ft_robotiq_force_torque_frame_id"/>
        <param name="serial_id" value="rfcomm1"/>
    </node>

    <!-- add from tams robotiq gripper  -->

    <include file="$(find tams_ur5_setup_moveit_config)/launch/move_group.launch">
        <arg name="r200" value="$(arg r200)"/>
    </include>
</launch>
