<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro"
       name="mounted_camera" >

<xacro:macro name="mounted_camera" params="name parent *origin">

<link name="mounted_holder">
      <inertial>
        <mass value="0.041" />
        <origin xyz="0.0 -0.0045 -0.045" />
        <inertia ixx="0.000116154" ixy="0.000001209" ixz="-0.000018656"
                 iyy="0.000310218" iyz="0.000000068"
                 izz="0.000169969" />
      </inertial>
      <visual>
        <origin xyz="0.0 0 -0.0045" rpy="0 0 0.0" />
        <geometry>
          <mesh filename="package://tams_ur5_description/meshes/ur5/visual/holder.STL" />
        </geometry>
        <material name="gray">
          <color rgba="0.2 0.2 0.2 1"/>
        </material>
      </visual>
      <collision>
        <origin xyz="0.0 0 -0.0045" rpy="${-pi} 0 0.0" />
        <geometry>
	   <mesh filename="package://tams_ur5_description/meshes/ur5/collision/holder.STL" />
        </geometry>
      </collision>
    </link>
<joint name="mounted_holder_joint" type="fixed">
       <xacro:insert_block name="origin" />
      <child link="mounted_holder" />
      <parent link="${parent}"/>
    </joint>

<link name="r200_camera_link">
      <inertial> 
        <mass value="0.039" />
        <origin xyz="0.0 0.0 0.0" />
        <inertia ixx="0.000001004" ixy="0.0" ixz="0.0"
                 iyy="0.000027958" iyz="0.0"
                 izz="0.000028169" />
      </inertial>
      <visual>
        <origin xyz="-0.0078 0.043 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://tams_ur5_description/meshes/ur5/visual/r200.STL" />
        </geometry>
        <material name="DarkBlue">
          <color rgba="0 0.3 0.6 1"/>
        </material>
      </visual>
      <collision>
        <origin xyz="-0.0078 0.043 0.0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://tams_ur5_description/meshes/ur5/collision/r200.STL" />
        </geometry>
      </collision>
    </link>
<joint name="realsense_joint" type="fixed">
      <child link="r200_camera_link" />
      <parent link="mounted_holder"/>
      <origin xyz="0.0806 0.0445 -0.0127 " rpy="${-pi} ${-pi/3} 0" />
    </joint>
  </xacro:macro>
</robot>
